<template>
	<div class="details-layout">
		<div class="detail-top-container">
			<div class="detail-card">
				<div class="top-card">
				</div>
				<div class="circle">
					<div class="pokeball-logo">
						<img :src="pokeBallLogo.src" :alt="pokeBallLogo.alt">
					</div>
				</div>
				<div class="card-title">
					Team
				</div>
				<div v-for="(team, index) in teamList" 
					:key="team.name" 
					:class="{'item-list-selected': checkSelectedTeam(team), 'item-list': !checkSelectedTeam(team)}" 
					@click="setSelectedTeam(team)">
					{{ team.name }}
					<div 
						v-if="index !== 0"
						@click="deleteTeam(index)">
						X
					</div>
				</div>
				<Form 
					:form-list="editNameForm.forms"
					:button-text="editNameForm.buttonText"
					@submit="editTeamName"
				/>
				<Form 
					:form-list="teamForm.forms"
					:button-text="teamForm.buttonText"
					@submit="createTeam"
				/>
			</div>
			<div class="pokemon-list">
				<div class="top-card">

				</div>
				<div class="circle">
					<div class="pokeball-logo">
						<img :src="pokeBallLogo.src" :alt="pokeBallLogo.alt">
					</div>
				</div>
				<div class="card-title">
					Pokemon List
				</div>
				<div v-for="(pokemon, index) in pokemonList" 
					:key="pokemon.name" 
					class="item-list">
						{{ pokemon.name }}
					<div @click="deletePokemon(index)">
						X
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'
import { ImagePath } from '../../static/ImagePath';


export default {
	data() {
		return {
			teamForm: {
				buttonText: "Add Team +",
				forms: [{
					name: "TEAM NAME",
					value: "",
					type: "text"
				}]
			},
			editNameForm: {
				buttonText: "Change Name",
				forms: [{
					name: "EDIT SELECTED TEAM NAME",
					value: "",
					type: "text"
				}]
			},
			pokeBallLogo: ImagePath.pokeBall
		}
	},
	computed: {
		...mapGetters({
			teamList: 'user/getTeamList',
			pokemonList: 'user/getPokemonListByTeam',
			selectedTeam: 'user/getSelectedTeam'
		}),
		pokemonList() {
			return this.$store.getters['user/getPokemonListByTeam'];
		}
	},
	methods: {
		setSelectedTeam(team) {
			this.$store.dispatch('user/selectTeam', team);
			this.editNameForm.forms[0].value = team.name;
		},
		createTeam(){
			const team = {
				name: this.teamForm.forms[0].value,
				pokemonList: []
			}
			this.teamForm.forms[0].value = ""
			this.$store.dispatch('user/createTeam', team);
		},
		editTeamName(){
			this.$store.dispatch('user/editTeamName', this.editNameForm.forms[0].value);
		},
		deletePokemon(index){
			this.$store.dispatch('user/deletePokemonFromTeam', index);
		},
		deleteTeam(index){
			this.$store.dispatch('user/deleteTeam', index);
			this.$store.dispatch('user/selectTeam', this.teamList[0]);

		},
		checkSelectedTeam(team) {
			return team === this.selectedTeam;
		}
	}
}
</script>

<style scoped>
	.item-list {
		display: flex;
		padding: 12px;
		width: 90%;
		margin: auto auto 10px auto;
		border: solid 3px black;
		font-weight: bold;
		justify-content: space-between;
		border-radius: 20px;
		cursor: pointer;
		box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
	}
	.item-list-selected {
		display: flex;
		padding: 12px;
		width: 90%;
		margin: auto auto 10px auto;
		border: solid 3px black;
		font-weight: bold;
		justify-content: space-between;
		border-radius: 20px;
		cursor: pointer;
		box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
		background-color: #FC0;
	}
	.details-layout {
		height: 100%;
	}
	.detail-top-container {
		display: flex;
		height: 100%;
	}
	.detail-card {
		background-color: #fff;
		border-radius: 20px;
		width: 40%;
		display: inline;
		border: solid 6px black;
		justify-content: space-between;
		box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
	}
	.pokemon-list {
		background-color: #fff;
		border-radius: 20px;
		width: 60%;
		border: solid 6px black;
		margin-left: 1rem;
		box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
	}
	.sub-detail {
		background-color: #fff;
		box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
		height: 37%;
		margin-top: 1rem;
		border-radius: 20px;
		border: solid 6px black;
		width: 100%;
	}
	.top-card {
		background-color: #FB1B1B;
		border-radius: 14px 14px 0 0;
		height: 40px !important;
	}
	.circle {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		bottom: 23px;
		background-color: #fff;
		border: solid 5px black;
		width: 40px;
		height: 40px;
		border-radius: 20px;
	}
	.card-title {
		text-align: center;
		font-weight: bold;
	}
	.btn-wrapper {
		display: flex;
		justify-content: center;
	}
</style>
