<template>
	<div class="details-layout">
		<div class="detail-top-container">
			<div class="pokemon-list">
				<div class="top-card">
				
				</div>
				<div class="circle">
					<div class="pokeball-logo">
						<img :src="pokeBallLogo.src" :alt="pokeBallLogo.alt">
					</div>
				</div>
				<div class="pokemon-detail">
					<p> Pokemon Detail </p>
					<p> id: {{ selectedPokemon.id }} </p>
					<p> name: {{ selectedPokemon.name }} </p>
				</div>
				<Form 
					:form-list="searchForm.forms"
					:button-text="searchForm.buttonText"
					@submit="searchPokemon"
				/>
			</div>
			<div class="detail-card">
				<div class="top-card">

				</div>
				<div class="circle">
					<div class="pokeball-logo">
						<img :src="pokeBallLogo.src" :alt="pokeBallLogo.alt">
					</div>
				</div>
				<div class="card-title">
					Select Team
				</div>
				<div v-for="team in teamList" 
					:key="team.name" 
					:class="{'item-list-selected': checkSelectedTeam(team), 'item-list': !checkSelectedTeam(team)}" 
					class="item-list"
					@click="setSelectedTeam(team)">
						{{ team.name }}
				</div>
			</div>
		</div>
		<div class="sub-detail">
			<div class="top-card">

			</div>
			<div class="circle">
				<div class="pokeball-logo">
						<img :src="pokeBallLogo.src" :alt="pokeBallLogo.alt">
				</div>
			</div>
			<div class="button-container">
				<button class="btn" @click="navigateBack()">
					Back
				</button>
				<button v-if="checkFavoriteList()" class="btn" @click="addToFavorite()">
					Add to favorite
				</button>
				<button v-if="!checkFavoriteList()" class="btn" @click="removeFromFavorite()">
					Remove from favorite
				</button>
				<button class="btn" :disabled="!checkAvailability()" @click="addToTeam()">
					Add to team
				</button>
			</div>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'
import { ImagePath } from '../../static/ImagePath';

export default {
	data() {
		return {
			searchForm: {
				buttonText: "Search Pokemon",
				forms: [{
					name: "SEARCH BY NAME OR ID",
					value: "",
					type: "text"
				}]
			},
			pokeBallLogo: ImagePath.pokeBall
		}
	},
	fetch() {
		this.$store.dispatch('pokemon/fetchPokemonDetail', this.$route.query.id);
	},
	computed: {
		...mapGetters({
			selectedPokemon: 'pokemon/getSelectedPokemon',
			teamList: 'user/getTeamList',
			selectedTeam: 'user/getSelectedTeam',
			favoriteList: 'user/getFavoritesListPokemon'
		}),
	},
	methods: {
		searchPokemon() {
			this.$store.dispatch('pokemon/fetchPokemonDetail', this.searchForm.forms[0].value);
			this.searchForm.forms[0].value = "";
		},
		addToTeam() {
			this.$store.dispatch('user/addPokemonToTeam', this.selectedPokemon);
			this.$router.go(-1);
		},
		addToFavorite() {
			this.$store.dispatch('user/addPokemonToFavorite', this.selectedPokemon);
			this.$router.go(-1);
		},
		setSelectedTeam(team) {
			this.$store.dispatch('user/selectTeam', team);
		},
		removeFromFavorite() {
			this.$store.dispatch('user/removePokemonFromFavorite', this.selectedPokemon);
			this.$router.go(-1);
		},
		checkFavoriteList() {
			const res = this.favoriteList.find(pokemon => pokemon.id === this.selectedPokemon.id);
			return res == null;
		},
		checkAvailability() {
			let res;
			if (this.selectedTeam) {
				this.teamList.forEach(team => {
					res = team.pokemonList.find(pokemon => pokemon.id === this.selectedPokemon.id);
				});
				return !res;
			}
			return res;
		},
		checkSelectedTeam(team) {
			return team === this.selectedTeam;
		},
		navigateBack() {
			this.$router.go(-1);
		}
	}
}
</script>

<style scoped>
	.pokemon-detail {
		text-align: center;
		font-weight: bold;
	}
	.details-layout {
		height: 100%;
	}
	.detail-top-container {
		display: flex;
		height: 70%;
	}
	.detail-card {
		background-color: #fff;
		border-radius: 20px;
		width: 40%;
		display: inline;
		border: solid 6px black;
		justify-content: space-between;
		box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
	}
	.pokemon-list {
		background-color: #fff;
		border-radius: 20px;
		width: 60%;
		border: solid 6px black;
		margin-right: 1rem;
		box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
	}
	.sub-detail {
		background-color: #fff;
		box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
		height: 25%;
		margin-top: 1rem;
		border-radius: 20px;
		border: solid 6px black;
		width: 100%;
	}
	.top-card {
		background-color: #FB1B1B;
		border-radius: 14px 14px 0 0;
		height: 40px !important;
	}
	.circle {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		bottom: 23px;
		background-color: #fff;
		border: solid 5px black;
		width: 40px;
		height: 40px;
		border-radius: 20px;
	}
	.button-container {
		display: flex;
		justify-content: center;
	}
	.card-title {
		text-align: center;
		font-weight: bold;
	}
	.item-list {
		display: flex;
		padding: 12px;
		width: 90%;
		margin: auto auto 10px auto;
		border: solid 3px black;
		font-weight: bold;
		border-radius: 20px;
		cursor: pointer;
		box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
	}
	.item-list-selected {
		display: flex;
		padding: 12px;
		width: 90%;
		margin: auto auto 10px auto;
		border: solid 3px black;
		font-weight: bold;
		border-radius: 20px;
		cursor: pointer;
		box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
		background-color: #FC0;
	}
</style>
