<template>
	<div>
		<form>
			<div v-for="form in formList" :key="form.id" class="p-2 d-flex justify-content-center">
				<input
					v-model="form.value"
					:type="form.type"
					:placeholder="form.name"
					>
			</div>
		</form>
		<div class="btn-container">
			<button :disabled="!isValid()" class="btn" @click="submit">
				{{ buttonText }}
			</button>
		</div>
	</div>
</template>

<script>
export default {
	name: "Form",
	props: {
		buttonText: {
			type: String,
			default: ''
		},
		formList: {
			type: Array,
			default: null
		}
	},
	data() {
		return {
			value: ""
		}
	},
	methods: {
		isValid() {
			let res;
			this.formList.forEach(each => {
				if(each) {
					res = each.value !== '';
				}
			});
			return res;
		},
		submit() {
			this.$emit('submit');
		}
	}
}
</script>

<style> 
	input {
		width: 90%;
		border-radius: 8px;
		border: solid 4px  #0C3348;
		height: 45px;
		padding: 1rem;
		font-weight: 650;
		background-color: #DFDFDF;
	}
</style>