<template>
	<div class="login-card">
		<div class="container">
			<div class="logo">
				<img :src="pokeLogo.src" :alt="pokeLogo.alt">
			</div>
			<Form 
				:form-list="formList.forms"
				:button-text="formList.buttonText"
				@submit="createUser"
				/>
		</div>
	</div>
</template>

<script>
import { ImagePath } from '../static/ImagePath';
import { routePath } from '../static/constants';

export default {
	data() {
		return {
			formList: {
				buttonText: "CONNECT",
				forms: [{
					name: "USERNAME",
					value: "",
					type: "text"
				},
				{
					name: "TEAM NAME",
					value: "",
					type: "text"
				}]
			},
			pokeLogo: ImagePath.pokeLogo
		}
	},
	fetch(){
		this.$store.commit('pokemon/setPokemonList');
	},
	methods: {
		pokemonList() {
			return this.$store.state.pokemon.pokemonList
		},
		createUser() {
			const user = {
				name: this.formList.forms[0].value,
				team: {
					name: this.formList.forms[1].value,
					pokemonList: []
				}
			}
			this.$store.dispatch('user/createUser', user);
			this.$router.push(routePath.pokemonList);
		}
	}
}
</script>

<style>
	.login-card {
		background-color: #FFF;
		align-items: center;
		width: 350px;
		height: 450px;
		border: solid 6px black;
		border-radius: 20px;
		padding: 1rem;
		box-shadow: 7px 7px #181818;
		margin: auto
	}
	.container {
		padding: 1rem 0.5rem;
		height: 100%;
		display: grid;
		align-content: space-evenly;
	}
	.logo {
		display: flex;
		justify-content: center;
	}
	img {
		max-width: 80%;
	}
	.btn {
		background-color: #FC0;
		font-weight: bold;
		border: 2px solid black;
	}
	.btn-container {
		display: flex;
		justify-content: center;
	}
</style>
