<template>
	<div class="pagination-container">
		<button class="btn" @click="previousPage">
			Previous
		</button>
		<div v-if="validPage(currentPage - 1)" 
			class="page-item"
			@click="selectPage(currentPage - 2)">
			{{ currentPage - 2 }}
		</div>
		<div v-if="validPage(currentPage)" 
			class="page-item"
			@click="selectPage(currentPage - 1)">
			{{ currentPage - 1 }}
		</div>
		<div class="page-selected">
			{{ currentPage }}
		</div>
		<div class="page-item" @click="selectPage(currentPage + 1)">
			{{ currentPage + 1 }}
		</div>
		<div class="page-item" @click="selectPage(currentPage + 2)">
			{{ currentPage + 2 }}
		</div>
		<div class="page-item">
			...
		</div>
		<button class="btn" @click="nextPage">
			Next
		</button>
	</div>
</template>

<script>
export default{
	data() {
		return {
			currentPage: 1,
		}
	},
	methods: {
		nextPage() {
			this.currentPage += 1;
			this.emitPageChanges();
		},
		previousPage() {
			this.currentPage -= 1;
			this.emitPageChanges();
		},
		validPage(page) {
			return page - 1 > 0
		},
		selectPage(page) {
			this.currentPage = page;
			this.emitPageChanges();
		},
		emitPageChanges() {
			this.$emit('page-change', this.currentPage)
		}
	}
}
</script>

<style scoped>
	.pagination-container{
		display: flex;
		justify-content: space-between;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.btn {
		background-color: #1c4cbd;
		color: white
	}
	.page-item {
		margin: auto;
		font-weight: bold;
		cursor: pointer;
	}
	.page-selected {
		margin: auto;
		border: solid 2px black;
		background-color: white;
		border-radius: 25px;
		width: 30px;
		height: 30px;
		text-align: center;
		cursor: pointer;
	}
</style>
