<template>
	<div class="list-item" @click="navigate">
		<div v-if="pokemon" class="top-card">
			<span class="card-id">
				{{ pokemon.id }}
			</span>
		</div>
		<div class="circle">
			<div class="pokeball-logo">
				<img :src="pokeBall.src" :alt="pokeBall.src">
			</div>
		</div>
		<span class="card-name">
			{{ pokemon.name }}	
		</span>
	</div>
</template>

<script>
import { ImagePath } from '../static/ImagePath';

export default {
	props: {
		pokemon: {
			type: Object,
			default: null
		}
	},
	data() {
		return {
			pokeBall: ImagePath.pokeBall
		}
	},
	methods: {
		navigate() {
			this.$emit('navigate', this.pokemon.id)
		}
	}
}
</script>

<style>
	.list-item {
		box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
		border-radius: 14px;
		min-width: 16%;
		border: solid 5px black;
		cursor: pointer;
		background-color: #fff;
		margin: 10px;
	    width: 120px;
    	height: 160px;
	}
	.top-card {
		background-color: #FB1B1B;
		border-radius: 7px 7px 0 0;
		border-bottom: solid 5px black;
		height: 50%;
	}
	.circle {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		bottom: 23px;
		background-color: #fff;
		border: solid 5px black;
		box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
		width: 40px;
		height: 40px;
		border-radius: 20px;
	}
	.card-name {
		display: flex;
		justify-content: center;
		font-weight: bold;
		padding: 0;
		position: relative;
		font-size: 14px;
		top: -20px;
	}
	.card-id {
		display: flex;
		justify-content: center;
		position: relative;
		bottom: -23px;
		font-weight: bold;
		text-align: center;
	}
</style>
