<template>
	<div class="container">
		<div class="details-layout">
			<div class="list-container">
				<div v-for="pokemon in pokemonList" :key="pokemon.id">
					<PokemonCard :pokemon="pokemon" @navigate="navigate(pokemon.id)" />
				</div>	
			</div>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	computed: {
		...mapGetters({
			pokemonList: 'user/getFavoritesListPokemon'
		}),
	},
	methods: {
		navigate(pokemonId) {
			this.$router.push({path: 'pokemon-details', query: {id: pokemonId}})
		}
	}
}
</script>

<style>
	.container {
		display: grid;
		place-content: space-between;
	}
	.details-layout {
		height: 100%;
	}
	.pagination {
		display: flex;
		justify-content: flex-end;
	}
	.list-container {
		display: flex;
		height: 26%;
		flex-wrap: wrap;
	}
</style>
