<template>
	<div class="d-flex">
		<div class="card-xl">
			<div class="sidebar">
				<div class="pokeball-logo">
					<img :src="pokemonBallLogo.src" :alt="pokemonBallLogo.alt">
				</div>
				<div class="btn-container">
					<nuxt-link :to="routePath.userTeamDetails">
						<button v-if="isLogin" class="btn w-100 blue"> Edit Team </button>
					</nuxt-link>
				</div>
				<div class="btn-container">
					<nuxt-link :to="routePath.favorites">
						<button v-if="isLogin" class="btn w-100 blue"> Favorites </button>
					</nuxt-link>
				</div>
			</div>
			<div class="menu">
				<div class="navbar">
					<nuxt-link :to="routePath.pokemonList">
						<button v-if="isLogin" class="btn"> Hunt Pokemon </button>
					</nuxt-link>
					<nuxt-link :to="routePath.index">
						<button v-if="isLogin" class="btn" @click="restart()"> Restart </button>
					</nuxt-link>
				</div>
				<div class="main-dashboard">
					<nuxt />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'
import { ImagePath } from '../static/ImagePath'
import { routePath } from '../static/constants';

export default {
	data() {
		return {
			pokemonBallLogo: ImagePath.pokemonBallColored,
			routePath
		}
	},
	computed: {
		...mapGetters({
			isLogin: 'user/isLogin'
		}),
	},
	methods: {
		restart() {
			this.$store.dispatch('user/reset');
		}
	}
}
</script>

<style>
	.card-xl {
		width: 70vw;
		min-height: 80vh;
		background-color: #fff;
		border: solid 7px #020202;
		border-radius: 20px;
		box-shadow: 12px 12px #181818;
		margin-left: 1rem;
		display: flex;
	}
	.menu {
		width: 80%;
	}
	.navbar {
		background-color: #5EBDFC;
		border-radius: 0 10px 0 0;
		height: 10%;
		border-bottom: solid 6px black;
		justify-content: space-between;
	}
	.sidebar {
		width: 20%;
		padding: 1rem;
		border-radius: 15px 0 0 15px;
		background-color: #FC0;
		border-right: solid 6px black;
	}
	.main-dashboard {
		padding: 1rem;
		height: 90%;
		background-color: #B3B3B3;
		border-radius: 0 0 12px 0;
	}
	button {
		margin-left: auto;
		margin-right: auto;
	}
	.pokeball-logo {
		width: 120px;
		display: flex;
		justify-content: center;
		margin: auto;
	}
	.btn {
		border-radius: 20px;
		box-shadow: 3px 3px black;
	}
	.btn-container{
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.blue{
		background-color: #fff !important;
	}
</style>