<template>
	<div class="container">
		<div class="details-layout">
			<div class="list-container">
				<div v-for="pokemon in pokemonList" :key="pokemon.id">
					<PokemonCard :pokemon="pokemon" @navigate="navigate" />
				</div>	
			</div>
		</div>
		<div className="pagination">
			<Pagination @page-change="fetchPokemonList" />
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'
import { routePath } from '../../static/constants';

export default {
	data() {
		return {
			load: true,
			routePath
		}
	},
	computed: {
		...mapGetters({
			pokemonList: 'pokemon/getPokemonList'
		}),
	},
	mounted() {
		this.$store.dispatch('pokemon/fetchPokemonList', 1);
	},
	methods: {
		fetchPokemonList(page) {
			this.$store.dispatch('pokemon/fetchPokemonList', page);
		},
		navigate(pokemonId) {
			this.$router.push({path: routePath.pokemonDetails, query: {id: pokemonId}})
		}
	}
}
</script>

<style>
	.container {
		display: grid;
		place-content: space-between;
	}
	.details-layout {
		height: 100%;
	}
	.pagination {
		display: flex;
		justify-content: flex-end;
	}
	.list-container {
		display: flex;
		height: 26%;
		flex-wrap: wrap;
	}
</style>
